{% extends 'layout/layout.html' %}
{% block content %}
    <form method="POST" action="{% url 'signin' %}">
        {% csrf_token %}
        
        <div>
            <label for="email">Email:</label>
            <input type="text" placeholder="Input the email" name="email" />
        </div>
        <div>
            <label for="password"></label>
            <input type="password" placeholder="Input the password" name="password">
        </div>
        <input type="submit" value="Submit" />
    </form>
    {% for message in messages %}
    <span>{{message}}</span>
    {% endfor %}
    <a href="/">Home</a>
{% endblock %}