{% extends 'layout/layout.html' %}
{% block content %}
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <div>
            <label for="name">Name:</label>
            <input type="text" placeholder="Input the name" name="name" />
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" placeholder="Input the username" name="username" />
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" placeholder="Input the age" name="age" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" placeholder="Input the email" name="email" />
        </div>
        <div>
            <label for="password"></label>
            <input type="password" placeholder="Input the password" name="password" />
        </div>
        <div>
            <label for="confirm"></label>
            <input type="password" placeholder="Input the confirm password" name="confirm" />
        </div>
        <input type="submit" value="Submit" />
    </form>
    {% for message in messages %}
    <span>{{message}}</span>
    {% endfor %}
    <a href="/">Home</a>
{% endblock %}